* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  height: 10000px;
  background: #fffaf5;
}

:root {
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* ======== gongyong ======== */
.container {
  padding: 1rem 5%;
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  color: #ff5b2e;
  width: 182px;
  line-height: 56px;
  border: 1px solid #ff5b2e;
  border-radius: 31px;
}

/* ============== header ============== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  background-color: #fffaf5;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-desc {
  color: #000958;
  font-size: 1.8rem;
  font-weight: 700;
}

.navbar-list {
  display: flex;
}

.navbar-list__li{
border-radius: 5px;
}

.navbar-list__link {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  color: #000958;
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  margin-left: 0.2rem;
}

.navbar-list__link--active {
  background-color: #ff5b2e;
  color: #fff;
}

.navbar-list__li:hover {
  background-color: #ff5b2e;
}

.navbar-list__link:hover {
    color: #fff;
}

.nav-btn {
  max-width: 117px;
  line-height: 50px;
  opacity: 0.7;
  border: 1px solid #000958;
  border-radius: 25px;
  font-weight: 600;
  color: #000958;
}

.navbar .fa-bars {
  padding-top: 1.2rem ;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 5px;
  background-color: #ff5b2e;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  display: none;
}

.navbar .fa-bars:hover {
  cursor: pointer;
  background-color: #000958;
  color: #fff;
}

/* form */
.navbar-form{
  z-index: 20;
  padding: 3rem 5%;
  position: absolute;
  top: 100%;
  right: 2%;
  background-color: #fff;

  border-radius: 10px;
background-size: cover;
  background-position: bottom ;
  display: none;
  position: relative;
}

.fa-xmark {
  position: absolute;
  right: 3%;
  top: .5rem;
 padding: 1rem;
 cursor: pointer;
 
}

.form-group{
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.form-group + .form-group {
  margin-top: 1.5rem;
}

.label-signup{
  color: #000958;
  font-size: 1.5rem;
  font-weight: 500;
}

.sign-up__name{
  outline: none;
  border: none;
  border-bottom: 1px solid #656689;
  padding-bottom: 1.8rem;
  color: #000958;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  background: transparent;
}

#sign-up__password{
  margin-left: 0.5rem;
  
}

.sign-up__name::placeholder {
  color: rgb(192, 189, 189);
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-button{
  margin-top: 1.8rem;
  text-align: right;
  outline: none;
  font-size: 1.8rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 10px;
  background: #2c0b8f;
  color: #fff;
}

.navbar-button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.nav-layer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
/* ============= hero ============= */
.hero {
  margin-top: 100px;
}

.hero-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 120px;
}

.hero-left {
  position: relative;
  flex: 1;
}

.hero-left__img {
  display: flex;
  position: relative;
}

.hero-img1 {
  display: block;
  width: 388px;
  height: 488px;
  object-fit: cover;
  background: #fe997b;
  border-radius: 16px;
}

.hero-left__img::after {
  content: '';
  position: absolute;
  left: -58px;
  bottom: -297px;
  width: 600px;
  height: 600px;
  background-image: url(/assets/img/vongtron.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-left__img::before {
  content: '';
  position: absolute;
  right: -437px;
  bottom: -50px;
  width: 600px;
  height: 600px;
  background-image: url(/assets/img/bentrai.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-img2 {
  width: 186px;
  height: 244px;
  object-fit: cover;
  background: #faa7ad;
  border-radius: 16px;
  border: 1px solid #fff;
  margin-left: -24px;
  margin-top: 312px;
  z-index: 1;
}

.hero-box {
  position: absolute;
  top: 426px;
  left: 129px;
  width: 250px;
  padding: 19px 17px;
  background: #ffffff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
  z-index: 2;
}

.hero-box__pet {
  display: flex;
  align-items: center;
  column-gap: 9px;
}

.hero-box__image {
  width: 38.15px;
  height: 52.48px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 21px rgba(247, 167, 12, 0.32));
  border-radius: 10px;
}

.hero-box__desc {
  font-family: 'Sora';
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #181e52;
}

.hero-mid__zhixian {
  margin: 20px 0;
  width: 222px;
  border: 1px solid #f2f2f2;
}

.hero-box__zhixian {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}

.hero-box__zhixian2 {
  margin-top: 6px;
  width: 39px;
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}
/* hero-right */
.hero-right {
  width: 43%;
}

.hero-heading {
  font-family: 'Sora';
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.15;
  color: #000958;
}

.hero-right-desc {
  width: 52%;
  margin-top: 24px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}

.hero-action {
  margin-top: 38px;
}

.hero-right__btn {
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 31px;
  line-height: 60px;
  min-width: 189px;
  font-weight: 600;
  font-size: 1.6;
  text-align: center;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hero-right .fa-solid {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: #fd5056;
  font-size: 1.1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero-action-desc {
  margin-left: 24px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  text-decoration-line: underline;
  color: #000958;
}
